body{
  background:#107896;
  color:white;
}

table{
  font-style: italic;
  font-size:120%;
  color: black;
  border-spacing: 90 20px;
  border-collapse: separate;
  background: black;
}

h1{
  position:relative;
  text-align: center;
  color:black;
}

a{
  color:white;
}

/**
*Contactos de Electrovalvulas
*/
div.contacts{
  position:absolute;
  right: 120%;
  font-size:60%;
}

#evalv1{
  stroke:black;
  stroke-width:2;
  fill:red;
}

.ev_txt{
    font-size:180%;
    fill:white;
}

/**
* Config signal gprs
**/

div.gprs{
  position:absolute;
  right:20%;
}

#floor_gprs{
   stroke:black;
   stroke-width:2;
 }

.title_monitor{
  font-size:20px;
  fill:blue;
}

#sig1_gprs{visibility: visible; }
#sig2_gprs{visibility: visible; }
#sig3_gprs{visibility: visible; }
#sig4_gprs{visibility: visible; }



/**
* thermometer configuration
**/
div.thermometer{
  position:absolute;
  right: 50%;
  font-size:60%;
}

#therm_rang_OK{
  fill:#7FFF00;
}

#set_alarm{
  font-size:180%;
  fill:red;
}

#line_max{
   stroke:black;
   stroke-width:2;
 }

#symbC{
  font-size:42px;
  fill:black;
}

#therm_min,#therm_max{
  font-size:180%;
  fill:black;
}
.arrow_tmp{
  top:300;  /* Change this value to put the arrow correct place */
  stroke:black;
  fill:red;

}
#tmp_value{
  stroke-width:0;
  fill:black;
}


/**
*Battery functions
**/
div.battery{
  position:absolute;
  left: 61%;
}
#batt00{ visibility: hidden; }
#batt20{ visibility: hidden; }
#batt40{ visibility: hidden; }
#batt60{ visibility: hidden; }
#batt80{ visibility: hidden; }
#small_ibatt{
    fill:red; /* white when have charge */
    stroke-width:5;
    stroke:white;
 }
#big_batt{
  fill:white; /* white when have charge */
  stroke-width:5;
  stroke:red; /*gray; /*Change to red when is empty*/
}

/* Simulate charge or no using visibility:hidden/visible */
#ray{
  visibility: hidden;
  //visibility: visible;
  fill:yellow;
  stroke:red;
  width: 100%;
  height: auto;
}
#dig_charge{
  position: absolute;
  top:280px;
  fill:gray;
}
